.photo{
    $w: 30vw;
    width:$w;
    height: $w;
    margin: 0 auto;
    margin-top: -1*$w/2;

    img{
        border-radius: 50%; 
    }

}

.text{
    text-align: center;
    
    p{
        line-height: 1.47
    }
}

.socialNetwork{
    margin: 0 auto;
    display: table;
    font-size: 1.5rem;
    a{
        
        &:not(:first-child){
            margin-left: 10px;
        }

        color: inherit;
        text-decoration: none;
    }
}