@mixin responsiveCircle($diameter){
    width: $diameter;
    padding-top: $diameter;
    border-radius: 50%;
}

//percentange maust be a number
@mixin progressClass($percentage){
    .percent#{$percentage} .halfProgress{
        $rotate: 360deg * $percentage /100 - 180deg;
        transform: rotate($rotate)
    }
}

$w: 100/10*1%;

.skill{
    width: $w;
    position: relative;
}

.radialProgress{
    width: 100%;
    position: absolute;

   .halfProgress, .progressContinuity{
       @include responsiveCircle(100%);
       position: absolute;
       background-color: blue;
   }
    
   .insideCircle{
       $size: 85%; // compared to father's width 
       position: relative;
       margin: (100%-$size)/2;
       background-color: white;
       @include responsiveCircle($size);
   }
 
   .logo{
       position: absolute;
       top: 50%;
       left: 50%;
       width: 50%;
       transform: translate(-50%, -50%);
       z-index:1;
   }


}

@include progressClass(100);
@include progressClass(90);
@include progressClass(80);
@include progressClass(70);
@include progressClass(60);
@include progressClass(50);
