*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h5, h5, h6{
    font-family: 'Merienda One', cursive;
    // font-family: 'Vidaloka', serif;
}



h2{ 
    
    margin-bottom: 1rem !important;
}