.technologies{
    .item{
        background: black;

        $pad: 1rem;
        padding-top:$pad;
        padding-bottom: $pad;
        margin-top: .5rem;
    
        
        img{
            display: block;
            margin: 0 auto;
            max-width: 80%;
        }

        &.sameHeight{
            height: 30vw;
        }
    }

}

.skills{
    h2{
        text-align: left;
        margin-top: 2rem;
    }
}
    