.footer{
    $pad: 3rem;
    padding-top: $pad;
    padding-bottom: 2rem;

    .message{
        text-align: left;
    }

    input, textarea{
        width: 100%;
        margin: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 1.2rem;
        display: block;
    }

    input{
        height:1.8rem;
    }

    textarea{
        height: 6rem;
    }

}