.footer{
    $pad: 15%;
    padding-top: $pad;
    padding-bottom: 2rem;

    h2{
        text-align: left !important;
        margin-bottom: 1rem;
    }

    

    input{
        height:1.8rem;
    }

    textarea{
        height: 6rem;
    }

}