.form{

    // width : 100%;


    input, textarea{
        margin: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 1.3rem;
        display: block;
        border-radius: 3px;
        border: none;
    
        &:not(*[type="submit"]){
            padding: 0.5rem !important;
            width: 100%;
        }
    }

    input:not(*[type="submit"]){
        height: 35px;
    }

    textarea{
        height: 100px;
    }
    

    *[type="submit"]{
        float: right !important;
        height: 37px;
        background: hsl(0, 0%, 20%);
        color: white;
        border-radius: 3px;
        border: none;
    }

}