.form{

    width : 100%;


    input, textarea{
        margin: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 1.3rem;
        display: block;
    
        &:not(*[type="submit"]){
            padding: 0.5rem !important;
            width: 100%;
        }
    }

    input:not(*[type="submit"]){
        height: 45px;
    }

    textarea{
        height: 125px;
    }
    

    *[type="submit"]{
        float: right !important;
        height: 37px;
        border-radius: 15px;
        border: none;
    }

}