.trapeze{
    width: 100vw;
    position: relative;
    color: white;


    svg{
        position: absolute;
        z-index: -1;

        &.down{
            transform: rotate(0)
        }

        &.up{
            transform: rotate(180deg)
        }    
    }

    .children{
        // position: absolute;
        z-index: 2;
    }

}